.cart__tabs {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	border-bottom: 1px solid transparent;
	height: 40px;

	button {
		padding: 5px 10px;
		border-radius: 4px 4px 0 0;
		span:first-child {
			font-weight: 600;
			font-size: 1rem;
			line-height: 21px;
			text-transform: uppercase;
			color: $primary-text-color;
		}
		border-bottom: 3px solid transparent;
	}
	.MuiButton-root:before {
		border: none;
	}

	.button-active {
		border-bottom: 3px solid $primary-main-color;
		span:first-child {
			color: $primary-main-color;
		}
	}
}
