.menu {
	width: 300px;
	background-color: $secondary-bg-color !important;
	height: 100%;
	position: relative;

	.menu__inside {
		padding-top: 40px;
		padding-left: 30px;
	}
	.menu__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 20px;
		width: 95%;

		svg {
			color: $primary-text-color;
		}

		svg:first-child {
			transform: scale(1.4);
		}

		svg:last-child {
			transform: scale(0.7);
		}
		.MuiIconButton-root {
			padding: 5px;
			margin-top: 10px;
		}

		.header__info {
			p:first-child {
				font-weight: 600;
				margin-bottom: 10px;
				font-size: 1rem;
			}
			p:last-child {
				font-size: 0.8rem;
				font-weight: 600;
			}
		}
	}

	.menu__off {
		display: none;
	}

	.menu__content {
		display: flex;
		justify-content: flex-start;
		margin-top: 10px;
		flex-direction: column;

		.content {
			display: flex;
			justify-content: flex-start;
			flex-direction: column;

			.content__title {
				text-transform: uppercase;
				font-size: 1rem;
				margin-top: 20px;
				margin-bottom: 10px;
				font-weight: 600;
			}
		}
	}
}

@media (max-width: 1100px) {
	.menu {
		height: 100%;
		width: 300px;
		position: fixed;
		top: 83px;
		left: 0;
		z-index: 1000;
	}
}
