$primary-main-color: #2b76bf;
$secondary-main-color: #f6446b;
$third-main-color: #f08e1c;
$primary-text-color: #004374;
$secondary-text-color: #ada5ac;
$third-text-color: #d8d8d8;
$primary-bg-color: #f7f7ff;
$secondary-bg-color: #ffffff;
$chip-color: #f5d1ae;
$primary-hover: rgba(43, 118, 191, 0.1);
